<% include ../partials/header.ejs %>
<div style=" size:cover; background-size:cover;background-image:url('../../assets/images/bg2.jpg');
  background-repeat:no-repeat; width:100%; height:400px; background-attachment:fixed;">
</div>

<main class="container">
  <div class="row">
    <div class="col m12 m6">
      <div class="card hoverable">
        <div class="card-content black-text">
          <span class="card-title center-align">
            <h1> <i class="material-icons medium vertical-align-middle padding-bottom-3">content_copy</i> Survey List
            </h1>
          </span>
          <main class="container">
            <table class="responsive-table centered highlight">
              <thead>
                <tr>
                  <th>Survey Topic</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for (let count = 0; count < surveys.length; count++) { %>
                <tr>
                  <td><%= surveys[count].topic %></td>
                  <td><a href="/surveys/view/<%= surveys[count]._id %>" class="waves-effect waves-light btn green"> <i
                        class="material-icons vertical-align-middle padding-bottom-3">description</i> View</a>
                  </td>
                  <td><a href="/surveys/delete/<%= surveys[count]._id %>" class="waves-effect waves-light btn red"><i
                        class="material-icons vertical-align-middle padding-bottom-3">delete_forever</i> Delete</a></td>
                  <td><a href="/surveys/statistics/<%= surveys[count]._id %>"
                      class="waves-effect waves-light btn orange"> <i
                        class="material-icons vertical-align-middle padding-bottom-3">dehaze</i> Statistics</a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </main>
          <% if (messages.length > 0) { %>
          <div class="alert alert-danger" style="margin-left:0px;"><%= messages %></div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ../partials/footer.ejs %>